/* General Design */
body {
	background-color: #eee;
}

.navbar {
	border: 0;
	background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.navbar-inverse .navbar-brand {
	font-size: 20px;
	font-weight: bold;
}

/* Registration Form */
.form-reg {
  max-width: 630px;
  padding: 15px;
  margin: 0 auto;
}




